@import "./fonts";

:root{
  --color-primary: #424242;
  --color-primary-light: #6d6d6d;
  --color-primary-dark: #1b1b1b;
  --color-primary-text: #ffffff;

  --color-secondary: #ce93d8;
  --color-secondary-light: #ffc4ff;
  --color-secondary-dark: #9c64a6;
  --color-secondary-text: #000000;

  --color-bg-primary: var(--color-primary-dark);
  --color-fg-primary: var(--color-primary-text);

}

@import "./a";
@import "./p";
@import "./form";

body{
  font-family: 'Playfair Display', serif;
  input, textarea, button{
    font-family: 'Playfair Display', serif;
  }

  background-color: var(--color-bg-primary);
  color: var(--color-fg-primary);

  max-width: 1000px;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  main{
    flex: 1;

    padding: 1em;

    box-sizing: border-box;

    min-height: 50vh;

    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  ul{
    list-style: none;
    padding: 0;
  }
}